*.jpg
*.dwl
*.dwl2
*.bak
MODELS/chassis_recover.dwg
MODELS/launcher_recover.dwg
LAPTOP CLIENT/opencv
LAPTOP CLIENT/build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
/opencv/

# Executables
*.exe
*.out
*.app
*.idb
*.tlog
/*.user
/.vs/
/build/


LAPTOP CLIENT/.vs/4618_Template/v17/ipch/20e961093ab33b14.ipch
LAPTOP CLIENT/.vs/4618_Template/v17/.suo
LAPTOP CLIENT/.vs/4618_Template/v17/Browse.VC.db
LAPTOP CLIENT/.vs/4618_Template/v17/Browse.VC.db-wal
LAPTOP CLIENT/.vs/4618_Template/v17/Browse.VC.db-shm
LAPTOP CLIENT/.vs/4618_Template/v17/Browse.VC.opendb
LAPTOP CLIENT/.vs/4618_Template/v17/ipch/c22f0be49f6170bc.ipch
LAPTOP CLIENT/.vs/4618_Template/v17/ipch/8251ee267e5a5559.ipch
LAPTOP CLIENT/.vs/4618_Template/v17/Solution.VC.db
*.db
KiCad PiHat/GerberFiles/Masterboard_GerberFiles.zip
KiCad PiHat/GerberFiles/Masterboard_GerberFiles.zip
LAPTOP CLIENT/.vs/4618_Template/FileContentIndex/e11f84c5-bdb0-45f2-b405-5d05e33b7fca.vsidx
KiCad PiHat/GerberFiles/Masterboard_GerberFiles.zip
LAPTOP CLIENT/.vs/4618_Template/FileContentIndex/fc7c4874-befc-4291-bd2c-ffead5489277.vsidx
LAPTOP CLIENT/.vs/4618_Template/v17/Solution.VC.db-wal
LAPTOP CLIENT/.vs/4618_Template/v17/Solution.VC.db-shm
teensy.pretty-master.zip
teensy.pretty-master/teensy.pretty-master/LICENSE
teensy.pretty-master/teensy.pretty-master/Teensy1.0++.kicad_mod
teensy.pretty-master/teensy.pretty-master/README.md
teensy.pretty-master/teensy.pretty-master/Teensy2.0++.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy1.0.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy2.0.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy30_31_32_All_Pins.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy30_31_32_LC.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy35_36.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy35_36_All_Pins.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy41.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy40_SMT.kicad_mod
teensy.pretty-master/teensy.pretty-master/Teensy40.kicad_mod
KiCad PiHat/GerberFiles/Masterboard_GerberFiles.zip
LAPTOP CLIENT/.vs/4618_Template/FileContentIndex/e11f84c5-bdb0-45f2-b405-5d05e33b7fca.vsidx
LAPTOP CLIENT/.vs/4618_Template/v17/Solution.VC.db-shm
LAPTOP CLIENT/.vs/4618_Template/v17/Solution.VC.db-wal
teensy.pretty-master/teensy.pretty-master/Teensy_3.5_3.6_Assembly.STEP
teensy.pretty-master/teensy.pretty-master/Teensy_4.0_Assembly.STEP
teensy.pretty-master/teensy.pretty-master/Teensy_4.1_Assembly.STEP
teensy.pretty-master/teensy.pretty-master/Teensy_LC.kicad_mod
teensy.pretty-master/teensy.pretty/Teensy40.kicad_mod
teensy_library-master.zip
teensy_library-master/teensy_library-master/LICENSE
teensy_library-master/teensy_library-master/README.md
teensy_library-master/teensy_library-master/teensy.dcm
