*.jpg
*.dwl
*.dwl2
*.bak
MODELS/chassis_recover.dwg
MODELS/launcher_recover.dwg
LAPTOP CLIENT/opencv
LAPTOP CLIENT/build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
/opencv/

# Executables
*.exe
*.out
*.app
*.idb
*.tlog
/*.user
/.vs/
/build/


LAPTOP CLIENT/.vs/4618_Template/v17/ipch/20e961093ab33b14.ipch
LAPTOP CLIENT/.vs/4618_Template/v17/.suo
LAPTOP CLIENT/.vs/4618_Template/v17/Browse.VC.db
LAPTOP CLIENT/.vs/4618_Template/v17/Browse.VC.db-wal
LAPTOP CLIENT/.vs/4618_Template/v17/Browse.VC.db-shm
LAPTOP CLIENT/.vs/4618_Template/v17/Browse.VC.opendb
